<% content_for :breadcrumb do %>
  <h1 class="pull-left">Edit Profile</h1>
  <ul class="pull-right breadcrumb">
      <li><a href="index.html">Home</a></li>     
      <li class="active">Edit Profile</li>
  </ul>
<% end %>
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<%= form_for @owner , html: {class: "reg-page"} do |f| %>
    <%= f.label :photo %>
    <div class="row">
    	<div class="col-md-3">
    		<%= image_tag(@owner.photo_url(:thumb) || "/assets/profile.jpg", size: "100x100", class: "margin-bottom-20")%>
    	</div>
    	<div class="col-md-9">
    		<%= f.file_field :photo, class: "form-control margin-bottom-20" %>
    	</div>
    </div>		
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control margin-bottom-20" %>
		<%= f.label :mobile %>
		<%= f.text_field :mobile, class: "form-control margin-bottom-20" %>
		<%= f.label :address %>
		<%= f.text_field :address, class: "form-control margin-bottom-20" %>
		<div class="row">
			<div class="col-sm-6">
				<%= f.label :state %>
				<%= f.text_field :state, class: "form-control margin-bottom-20" %>
			</div>
			<div class="col-sm-6">
				<%= f.label :country %>
				<%= f.text_field :country, class: "form-control margin-bottom-20"%>
			</div>
		</div>
		<div class="row">
      <div class="col-lg-6">                                
      </div>
      <div class="col-lg-6 text-right">
      	<%= f.submit "Update", class: "btn-u"  %>
      </div>
    </div>
	<% end %>
</div>