<% content_for :breadcrumb do %>
  <h1 class="pull-left">Cook Request</h1>
  <ul class="pull-right breadcrumb">
      <li><a href="index.html">Home</a></li>     
      <li class="active">Cook Request</li>
  </ul>
<% end %>
<div class="col-md-12">                  
  <div class="profile-body">
    <div class="profile-bio">
        <div class="row">
            <div class="col-md-3">
              <%= image_tag(@owner.photo_url(:thumb) || "/assets/profile.jpg", class: "img-responsive md-margin-bottom-10") %>
                
            </div>
            <div class="col-md-7">
                <h3><%= @owner.name %></h3>
                <hr>
                <span><strong>State:</strong> <%= @owner.state %></span>
                <span><strong>Country:</strong> <%= @owner.country %></span>
                <hr>                
            </div>
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i></h2>
        </div>    
    </div><!--/end row-->
              
    <hr>
    <%= form_for(@owner) do |f| %>
      <div class="row">
          <!--Social Icons v3-->
          <div class="col-sm-6 sm-margin-bottom-30">
              <div class="panel panel-profile">
                  <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> I need for</h2>
                      <a href="#"><i class="fa fa-cog pull-right"></i></a>
                  </div>
                  <div class="panel-body">                      
                    <div class="col col-4">
                      <% availables.each do |available| %>
                        <label class="checkbox">
                          <%= check_box_tag "owner[available_ids][]", available.id, @owner.availables.include?(available) %>
                            <%= available.name %>
                          </label>
                      <% end %>
                    </div>                           
                  </div>       
              </div>
          </div>
          <!--End Social Icons v3-->

          <!--Skills-->
          <div class="col-sm-6 sm-margin-bottom-30">
              <div class="panel panel-profile">
                  <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left">Dish Types</h2>
                      <a href="#"><i class="fa fa-cog pull-right"></i></a>
                  </div>
                  <div class="panel-body">                      
                    <div class="col col-4">
                      <% dish_types.each do |dish_type| %>
                        <label class="checkbox">
                          <%= check_box_tag "owner[dish_type_ids][]", dish_type.id, @owner.dish_types.include?(dish_type)%>
                          <%= dish_type.name %>
                        </label>
                      <% end %>
                    </div>
                           
                  </div>       
              </div>
          </div>    
          <!--End Skills-->                    
      </div><!--/end row-->    

      <br>
      <div class="row">
      	<!--Social Contacts v2-->
          <div class="col-sm-6">
              <div class="panel panel-profile">
                  <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left"> Locations For </h2>
                      <a href="#"><i class="fa fa-cog pull-right"></i></a>
                  </div>
                  <div class="panel-body">
                    <div class="col col-4">
                      <% locations.each do |location| %>
                        <label class="radio">
                          <%= f.radio_button :location, location.id, checked: f.object.location.to_i == location.id %><i class="rounded-x"></i><%= location.name %>
                        </label>                        
                      <% end %>
                    </div>
                  </div>
              </div>
          </div>   

          <div class="col-sm-6">
              <div class="panel panel-profile">
                  <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left"> Members </h2>
                      <a href="#"><i class="fa fa-cog pull-right"></i></a>
                  </div>
                  <div class="panel-body">
                    <div class="col-sm-6">
                      <%= f.label :adults %>
                      <%= f.text_field :adults, class: "form-control margin-bottom-20" %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.label :children, 'Childreen' %>
                      <%= f.text_field :children, class: "form-control margin-bottom-20"%>
                    </div>
                  </div>
              </div>
          </div>           
      </div>                    
     <div class="row">
        <div class="col-lg-6">                                
        </div>
        <div class="col-lg-6 text-right">
          <%= f.submit "Update", class: "btn-u"  %>                                      
        </div>
      </div>
    <% end %>
  </div> 
</div>